.render {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.render_number {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: #282d30;
  margin-bottom: 10px;
}
.render_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #282d30;
  opacity: 0.7;
  margin: 0;
}
