.main {
  margin-top: 2%;
  margin-left: 220px;
  margin-right: 90px;
}

.top_title {
  margin-bottom: 40px;
}
.top_name {
  color: red;
}

.info {
  display: flex;
  margin-top: 3%;
  gap: 5%;
}

.graph {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.firstGraph {
  background-color: #fbfbfb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 10px;
  padding-left: 32px;
  height: 40%;
}

.otherGraph {
  height: 50%;
  display: flex;
  gap: 3%;
}

.lineChart {
  width: 30%;
  background-color: #ff0000;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
}

.radarChart {
  width: 30%;
  background: #282d30;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}

.radialBarChart {
  width: 30%;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
}

.keyData {
  width: 25%;
  height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 39px;
}

.card {
  display: flex;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  height: 124px;
  width: 100%;
  align-items: center;
  padding-left: 20%;
}

.card_img {
  border-radius: 6px;
  padding: 21px;
  margin-right: 15%;
}

.card_text_top {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}

.card_text_bottom {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color: #74798c;
}

.red {
  background-color: rgba(255, 0, 0, 0.1);
}
.blue {
  background: rgba(74, 184, 255, 0.1);
}
.yellow {
  background: rgba(249, 206, 35, 0.1);
}
.pink {
  background: rgba(253, 81, 129, 0.1);
}
