.main {
  margin-top: 2%;
  margin-left: 13%;
  margin-right: 90px;
}

.top_title {
  margin-bottom: 40px;
}
.top_name {
  color: red;
}

.info {
  display: flex;
  margin-top: 3%;
  gap: 5%;
  height: 60vh;
}

.graph {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.firstGraph {
  background-color: #fbfbfb;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 10px;
  padding-left: 32px;
  height: 40%;
}

.otherGraph {
  height: 50%;
  display: flex;
  gap: 3%;
}

.lineChart {
  width: 32%;
  background-color: #ff0000;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  display: flex;
  justify-content: center;
  align-items: center;
}

.radarChart {
  width: 32%;
  background: #282d30;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radialBarChart {
  width: 32%;
  background: #fbfbfb;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.0212249);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keyData {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 3%;
}

.loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 300px;
}
